.Service-page{
  height: 220svh;
  width: 100%;
  
  
}
.Container-MiniNav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 8vh;
  margin-top: 12px;
  margin-left: 23px;
  border-radius: 5px;
  margin-bottom: 12px;
  box-shadow: rgba(0, 55, 255, 0.25) 0px 30px 60px -12px inset, rgba(180, 177, 177, 0.3) 0px 18px 36px -18px inset;
  background-color: rgb(55, 55, 56);

}
.Container-MiniNav li{
  list-style: none;
  padding: 20px;
  
}
.Container-MiniNav li a{
  text-decoration: none;
  font-size: 22px;
  color: rgb(0, 166, 255);
  transition: all 300ms ease-in;
  

}


.Container-MiniNav li a:hover{
  font-size: 24px;
  color:white;
}
.head-service {
  /*position: fixed;*/
  display: flex;
  left: 230px;
  background-color: rgb(230, 228, 228);
  width: 40%;
  height: 8vh;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  margin-top: 70px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
}
.btnService{
  width: 20vh;
  height: 6vh;
  border-radius: 10px;
  background-color: black;
  color: azure;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.head-service h2 {
  display: inline-flex;
  margin-left: 2px;
}

.FaMoneny{
  color:#ddd/#333
  #333/#ddd
  #ff0/#fff
  #000/#ff0
  #0ff/#fff
  #000/#0ff
  #f0f/#fff
  #000/#f0f ;
}

.leSnake span {
  display: inline-block;
  animation: leSnake 3s ease-in-out infinite;
}

@keyframes leSnake {
  from,
  to {
    transform: rotateY(0deg);
    color: rgb(112, 108, 108);
    

  }
  50% {
    transform: rotateY(360deg);
    color: rgb(147, 147, 246);
  }
}
@media screen and (max-width:760px){
  .head-service{
   width: auto;
  }


}